page-comments {
   .grdComments{
      display: grid;
      grid-template-rows: 20px 1fr 10px;
      grid-template-columns: 1fr 1fr;
      background: white;
      margin: 10px;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 2px 2px 3px grey;
   }

   .cmtHeaderName{
      font-weight: bold;
   }
   .cmtHeaderAvatar{
      justify-self: right;
      width: 40px;
   }
   .cmtBody{
      min-height: 30px;
      grid-column: span 3;
   }
   .cmtFooter{
      grid-column: span 3;
      font-size: 10px;
      justify-self: right;
   }
}
