page-login {
  .login_back {
    //background-image:linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../assets/imgs/backMeeting.jpg');
    background: radial-gradient(#ffffff, rgb(108, 120, 124)); // background-size: 100vh 100vh;
    background-size: cover;
    min-height: 570px;
  }
  .logoKM {
    margin-top: 30px;
  }
  .backForm {
    background: radial-gradient(circle at 50%, #fff, #eee 70%, #ddd 85%, #bdbcbc 100%); //background: white;
    margin: auto;
    width: 80%;
    padding: 20px;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000;
  }
  .grdLogin{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     
  }


  .loginBtn {
    box-shadow: 2px 2px 5px #000;
    width: 80%;
    margin: auto;
  }
  .btnGoogle {
    width: 60px;
    background: transparent;
  }
  .btnFacebook {
    width: 60px;
    background: transparent;
  }
  .btnDownload {
    width: 60px;
    background: transparent;
  }
  .txtDownload{
     color:#555;
     font-size: 12px;
     margin-top: -6px;
  }
  .frameDownload{
   position: absolute;
   /* bottom: 5px; */
   width: 100%;
   /* height: 100%; */
   text-align: center;
   /* max-height: 90px; */
  }
  .grdDownload{
     margin-top:100px;
     display: grid;
     justify-items: center;
     align-items: end;
  }
}
