<ion-content class="login_back">
  <div class="grdLogin">
    <div></div>
    <div style="justify-self: center">
      <img src="assets/imgs/calendarIcon.png" style="max-width:150px;">
    </div>
    <div></div>
  </div>
  <ng-template #content>content here...</ng-template>
  <!-- <user-profile></user-profile> -->
  <div *ngIf="loginMode === 'signIn'">
    <form [formGroup]="todo">
      <ion-row class="backForm">
        <ion-col>
          <ion-item floating style="background:transparent">
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="fcn_email" [(ngModel)]="email" telnum></ion-input>
          </ion-item>
          <ion-item floating style="background:transparent">
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" formControlName="fcn_password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10px">
        <ion-col>
          <button ion-button (click)="signin()" class="loginBtn" full type="submit" [disabled]="!todo.valid" round color="primary">
            Ingresar
          </button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="loginMode='signUp'" class="loginBtn" full type="submit" round color="primary">
            Registrarse
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col style="text-align: center">
          <button (click)="loginGoogle()" class="btnGoogle" *ngIf="!isLogged">
            <img src="assets/imgs/google.png">
          </button>
        </ion-col>
        <ion-col style="text-align: center">
        </ion-col>
        <ion-col style="text-align: center">
          <button (click)="loginFacebook()" class="btnFacebook" type="submit">
            <img src="assets/imgs/facebook.png">
          </button>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </form>
    <div class="frameDownload">
      <button (click)="download()" class="btnDownload" type="submit">
        <img src="assets/imgs/playstore.png">
      </button>
      <p class="txtDownload">Descargar aplicación</p>
    </div>
  </div>

  <div *ngIf="loginMode === 'signUp'">

    <ion-row class="backForm">
      <ion-col>
        <ion-item floating style="background:transparent">
          <ion-label floating>Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item floating style="background:transparent">
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item floating style="background:transparent">
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px">
      <ion-col>
        <button ion-button (click)="register()" class="loginBtn" full type="submit" round color="primary">
          Registrarse
        </button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
