hours {
    .frameHours{

    }
    .grdHour{
      display: grid;
      grid-template-columns: 30px 1fr
    }
    .hour{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    .value{
       height: 20px;
       background: rgb(114, 114, 231);
       border-radius: 2px 2px 0px 0px;
    }
}
