<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/calendar.png">
  <div class="title">Meeting Master</div>
  <ion-avatar item-start (click)="openMenuSheet()">
    <img class="avatar" [src]="photoPath">
  </ion-avatar>
</ion-header>

<div class="backHome">
  <div class="grdFindEvent">
    <ion-icon name="search" class="searchIcon"></ion-icon>
    <input type="text" class="searchBar" placeholder="Buscar Evento" [(ngModel)]="searchText" />
  </div>
  <ion-list>
    <!-- <ion-item-sliding *ngFor="let evt of dataEventos | searchInfo: searchText | orderBy:'{{field}}':true ; let i = index"> -->
    <ion-item-sliding *ngFor="let evt of dataEventos | searchInfo: searchText | orderBy:'creationDate':true">
      <ion-item class="grdEvent" [ngClass]="{'evtClosed' : evt.estimatedDate < today }">
        <div>
          Creacion: {{evt.creationDate | date:'dd/MM/yyyy'}}
        </div>
        <div>
          Ultima modificacion: {{evt.lastModification | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div>
          Fecha estimada: {{evt.estimatedDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div>
          Evento: {{evt.eventName}}
        </div>
        <div>
          Descripcion: {{evt.description}}
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="removeEvent(evt, i)" color="'red'">
          <ion-icon name="trash"></ion-icon> Eliminar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button (click)="showEvent(evt, i)" color="secondary">
          <ion-icon name="calendar"></ion-icon> Entrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab class="btnAddEvent" bottom right>
    <button ion-fab mini (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>
