<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/events.png">
  <div class="title">Meeting Master</div>
  <ion-avatar item-start (click)="openMenuSheet()">
    <img class="avatar" [src]="user.photoURL">
  </ion-avatar>
</ion-header>

<ion-content class="backHome">

  <ion-grid>
    <ion-row>
      <ion-icon name="search" class="searchIcon"></ion-icon>
      <ion-input type="text" class="searchBar" placeholder="Buscar Evento" [(ngModel)]="searchText"></ion-input>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="events">
    <!-- <ion-item-sliding *ngFor="let evt of dataEventos | searchInfo: searchText | orderBy:'{{field}}':true ; let i = index"> -->
    <ion-item-sliding *ngFor="let evt of events| searchInfo: searchText | orderBy:'creationDate':true">
      <ion-item class="grdEvent" [ngClass]="{'evtClosed' : evt.estimatedDate < today }">
        <div>
          <strong>Evento:</strong> {{evt.name}}
        </div>
        <div>
          <strong>Descripcion:</strong> {{evt.description}}
        </div>
        <div>
          <strong>Creacion:</strong>
          {{evt.creationDate | date:'dd/MM/yyyy'}}
        </div>
        <div>
          <strong>
            Ultima modificacion:
          </strong>
          {{evt.lastModification | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div>
          <strong>Fecha estimada: </strong>
          {{evt.estimatedDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="adminFlag" *ngIf="evt.owner === user.uid"><img src="assets/imgs/crown.png"></div>        
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="removeEvent(evt, i)" *ngIf="evt.owner === user.uid" color="secondary">
          <ion-icon name="trash"></ion-icon> Eliminar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button (click)="showEvent(evt, i)" *ngIf="evt.owner != user.uid" color="primary">
          <ion-icon name="calendar"></ion-icon> Entrar
        </button>
        <button ion-button (click)="editEvent(evt, i)" *ngIf="evt.owner === user.uid" color="secondary">
          <ion-icon name="create"></ion-icon> Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab class="btnAddEvent" bottom right>
    <button ion-fab mini (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
