page-editEvent {

  .grdBtnsMembers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 20px;
  }
  .titleMembers {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 3px #888;
  }

//   .alert-md .alert-radio-icon{
//    border-radius: 0 !important;
//    border: none !important;
//    height: 40px !important;
//    width: 40px !important;
//    background-size: 40px 40px !important;
//    background-repeat: no-repeat ;
//    background-color: red;
// }

// [id^="alert-input-"][id$="-0"] .alert-radio-icon{
//    background-image: url("assets/imgs/calendar.png") !important;
// }
// [id^="alert-input-"][id$="-1"] .alert-radio-icon{
//    background-image: url("assets/imgs/check.png") !important;
// }
// .alert-radio-inner{
//    background-color: transparent !important;
// }
}
