<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/calendar.png">
  <div class="title">{{title}}</div>
  <ion-icon class="btnClose" (click)="closeModal()" name="close-circle"></ion-icon>
</ion-header>

<ion-content class="backPage">
  <ion-list padding>
     <ion-item>
         <ion-label>Tipo de evento:</ion-label>
         <ion-select [(ngModel)]="evt.type">
           <ion-option value="calendario"><div><img src="assets/imgs/apk.padding"> Calendario</div></ion-option>
           <ion-option value="seleccion">Seleccion</ion-option>          
           <ion-option value="votacion">Votacion</ion-option>
           <ion-option value="clasificacion">Clasificacion</ion-option>           
         </ion-select>
     </ion-item>
    <ion-item>
      <ion-label floating>Nombre del evento</ion-label>
      <ion-input type="text" value="" [(ngModel)]="evt.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripcion del evento</ion-label>
      <ion-input type="text" [(ngModel)]="evt.description"></ion-input>
    </ion-item>
    <div class="grdBtnsMembers">
      <button ion-button (click)="adminMembers()" style="width:100%">
        <ion-icon name="person"> </ion-icon>
        <p style="margin-left:5px">Miembros</p>
      </button>
      <button ion-button (click)="share()" style="width:100%">
        <ion-icon name="share"> </ion-icon>
        <p style="margin-left:5px">Invitar</p>
      </button>
    </div>
  </ion-list>
  <div style="text-align: center">
    <button ion-button (click)="save()" [disabled]="(evt.name === '')" style="width:50%">
      <ion-icon name="cloud-upload"></ion-icon>
      <p style="margin-left:5px">Guardar</p>
    </button>
  </div>
</ion-content>
