<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/calendar.png">
  <div class="title">{{title}}</div>
  <ion-icon class="btnClose" (click)="closeModal()" name="close-circle"></ion-icon>
</ion-header>

<ion-content class="backPage">
  <ion-list padding>
    <ion-item>
      <ion-label floating>Nombre del evento</ion-label>
      <ion-input type="text" value="" [(ngModel)]="evt.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripcion del evento</ion-label>
      <ion-input type="text" [(ngModel)]="evt.description"></ion-input>
    </ion-item>
    <div class="grdBtnsMembers">
      <button ion-button (click)="adminMembers()" style="width:100%">
        <ion-icon name="person"> </ion-icon>
        <p style="margin-left:5px">Miembros</p>
      </button>
      <button ion-button (click)="share()" style="width:100%">
        <ion-icon name="share"> </ion-icon>
        <p style="margin-left:5px">Invitar</p>
      </button>
    </div>
    <ion-item>
      <ion-label>Tipo de evento:</ion-label>
      <ion-select [(ngModel)]="evt.type">
        <ion-option value="calendario">Calendario</ion-option>
        <ion-option value="seleccion">Seleccion</ion-option>
        <ion-option value="votacion">Votacion</ion-option>
        <ion-option value="clasificacion">Clasificacion</ion-option>
      </ion-select>
    </ion-item>
    <div class="grdSeleccion" *ngIf="evt.type == 'seleccion'">
      <ion-item>
        <ion-input placeholder="Ingrese pregunta" clearInput [(ngModel)]="question"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de respuesta:</ion-label>
        <ion-select [(ngModel)]="answerType">
          <ion-option value="unica">Unica</ion-option>
          <ion-option value="multiple">Multiple</ion-option>
        </ion-select>
      </ion-item>
      <ion-list padding>
        <h4 style="text-align: center">
          Items seleccionables
        </h4>
        <ion-item-sliding *ngFor="let item of selectionItemsKeys">
          <ion-item>
            <ion-label>
              {{item}}
            </ion-label>
            <ion-checkbox disabled="true" *ngIf="answerType=='multiple'">{{item}}</ion-checkbox>
            <ion-radio disabled="true" *ngIf="answerType=='unica'">{{item}}</ion-radio>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="removeItem(item, i)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item>
          <ion-input placeholder="Ingrese nuevo item" clearInput [(ngModel)]="newItem"></ion-input>
          <button ion-button outline item-end icon-left (click)="addItem()">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

      </ion-list>
    </div>
    <div class="grdVotacion" *ngIf="evt.type == 'votacion'">
      <ion-item>
        <ion-input placeholder="Ingrese pregunta" clearInput [(ngModel)]="question"></ion-input>
      </ion-item>
    </div>
    <div class="grdClasificacion" *ngIf="evt.type == 'clasificacion'">
      <ion-item>
        <ion-input placeholder="Ingrese pregunta" clearInput [(ngModel)]="question"></ion-input>
      </ion-item>
    </div>

    <div style="text-align: center">
      <button ion-button (click)="save()" [disabled]="(evt.name === '')&&(!evt.type)" style="width:50%">
        <ion-icon name="cloud-upload"></ion-icon>
        <p style="margin-left:5px">Guardar</p>
      </button>
    </div>
  </ion-list>
</ion-content>
