page-editEvent {
  .backEvent {
    // margin-top: 80px;
    min-width: 310px;
    background: -webkit-radial-gradient(#fff 28%, #d6d5d5 75%) !important;
    animation-name: fadeIn;
    animation-duration: 2s;
  }
  .grdBtnsMembers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }
}
