page-event {
  .abs {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f00;
    opacity: .3;
  }
  .grdEvento {
    display: grid;
    grid-template-areas: "evento" "tipo" "botonera"
  }
  @media (min-width: 500px) {
    .grdEvento {
      grid-template-areas: "evento evento" "tipo tipo" "botonera botonera"
    }
  }
  #evento {
    grid-area: evento
  }
  .grdInfo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .info {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 0.8fr;
    background-color: #ececec;
  }
  .item {
    padding: 0 5px;
  }
  .evtName {
    grid-column: 1 / 3;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    box-shadow: 0px 1px 3px #4a4a4a;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .evtDesc {
    grid-column: 1 / 3;
    font-size: 15px;
    padding-top: 3px;
    box-shadow: 0px 1px 3px #4a4a4a;
  }
  .evtAdmin {
    font-size: 13px;
    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    /* box-shadow: 0px 1px 7px #4a4a4a; */
    padding-top: 2px;
    align-self: center;
  }
  .evtUltMod {
    font-size: 13px;
    -webkit-box-shadow: 0px 1px 3px #4a4a4a;
    /* box-shadow: 0px 1px 7px #4a4a4a; */
    padding-top: 2px;
    align-self: center;
    justify-self: stretch;
    text-align: right;
  }
  #participantes {
    grid-area: participantes;
    display: grid; //  grid-template-columns: 1fr 40px 1fr 40px 40px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    width: 100%;
  }
  .grdInvitations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grdMembers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .member {
    display: grid;
    grid-template-columns: 30px 3fr 1fr;
    background: #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
  }
  .selMember {
    width: 21px;
  }
  #tipo {
    grid-area: tipo;
    margin: 5px;
  }
  .grdDays {
    display: grid;
    grid-template-rows: 60px 1fr;
  }
  .grdDaysNames {
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr);
  }
  .grdScheduler {
    display: grid;
    grid-template-columns: 30px 1fr;
    height: calc(100vh - 270px);
    overflow: auto;
  }
  .hoursNum {
    text-align: center;
    font-size: 15px;
  }
  .hoursNum>div {
    text-shadow: 1px 1px 2px #555;
    height: 30px;
    border: 1px solid;
    background: #bbb;
    padding-top: 5px;
  }
  .grdCalendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .today {
    background: #478aff !important;
    color: white !important;
    border: 1px solid black !important;
  }
  .dayName {
    border: 1px solid;
    text-shadow: 1px 1px 1px #666;
    text-align: center;
    font-size: 15px;
    background: #bbb;
    height: 30px;
    padding-top: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
  }
  .dayNum {
    border: 1px solid;
    text-shadow: 1px 1px 1px #666;
    text-align: center;
    font-size: 17px;
    background: #bbb;
    height: 30px;
    border-top: none;
  }
  .fechaProgramada {
    position: absolute;
    top: 20px;
    left: 23px;
    text-align: center;
  }
  .dia {
    font-size: 20px;
  }
  .mes {
    font-size: 10px;
    margin-top: -5px;
  }
  .btnComments {
    top: 100px;
    left: -3px;
  }
  .btnMembers {
    top: 100px;
    right: 3px;
  }
  .value {
    background: #003f52 !important;
  }
  .backCard {
    background: white !important;
    box-shadow: 1px 1px 3px #555;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .grdSel {
    background: white !important;
    box-shadow: 1px 1px 3px #555;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    opacity: 1 !important;
  }
  .grdSelSingle {
    display: grid;
    grid-template-columns: 40px 1fr 50px;
    align-items: center;
  }
  .grdSelMulti {
    display: grid;
    grid-template-columns: 40px 1fr 50px;
    align-items: center;
  }
  .grdSelRating {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
  }
  .btnMembersInfo {
    border-radius: 50%;
    width: 40px;
    font-size: 18px;
  } ////////////////////////////////////////////////
  // Votacion
  ////////////////////////////////////////////////
  .titleSeleccion {
    font-size: 20px;
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 30px;
  }
  .grdVotacion {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grdVoteOps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btnYesNo {
    margin: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(170, 170, 170);
    opacity: .5;
    box-shadow: 4px 4px 10px #444;
    filter: blur(2px);
  }
  .voteYes {
    justify-self: right;
  }
  .imgYes {
    width: 50px;
    height: 50px;
  }
  .selYes {
    background: #74ce74;
    opacity: 1;
    filter: blur(0px);
    box-shadow: 1px 1px 2px #444;
  }
  .selNo {
    background: #f74d4d;
    opacity: 1;
    filter: blur(0px);
    box-shadow: 1px 1px 2px #444;
  }
  .voteNo {
    justify-self: left;
  }
  .imgNo {
    width: 73%;
    height: 78%;
  }
  .grdVoteResult {
    text-align: center;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    align-content: center;
    align-items: center;
  }
  .resYes {
    justify-self: right;
    color: darkgreen;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
  }
  .yesBar {
    width: 30px;
    height: 40px;
    border-right: 1px solid black;
    background: linear-gradient(darkgreen 0%, lightgreen 15%, green 75%, darkgreen 95%);
  }
  .resultBar {
    margin: 10px;
    height: 40px;
    background: linear-gradient(darkred 0%, pink 15%, red 75%, darkred 95%);
    box-shadow: 2px 2px 5px gray;
  }
  .resNo {
    justify-self: left;
    color: darkred;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
  } /////////////////////////////////////////
  #botonera {
    grid-area: botonera;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50px 50px 1fr 50px 50px;
  }
  .btnRound {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background: #16b5de;
    -webkit-box-shadow: 2px 2px 10px #444;
    box-shadow: 2px 2px 10px #444;
  }
  .btnRoundON {
    background: #54666d;
    box-shadow: none;
    margin-top: 1px;
  }
  ul {
    padding: 0px;
    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;
      ion-icon {
        font-size: 30px;
      }
    }
  }
}
