page-event {
  .abs {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f00;
    opacity: .3;
  }
  .grdEvento {
    display: grid;
    grid-template-areas: "evento" "fCreacion" "identificador" "participantes" "dias"
  }
  @media (min-width: 500px) {
    .grdEvento {
      grid-template-areas: "evento evento fCreacion" " . identificador . " "participantes participantes participantes" "dias dias dias"
    }
  }
  #evento {
    grid-area: evento
  }
  #fCreacion {
    grid-area: fCreacion
  }
  #identificador {
    grid-area: identificador
  }
  #participantes {
    grid-area: participantes
  }
  .grdMembers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .member {
    display: grid;
    grid-template-columns: 30px 3fr 1fr;
    background: #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
  }
  .selMember {
    width: 21px;
  }
  #dias {
    grid-area: dias;
    margin: 5px;
  }
  .grdDays {
    display: grid;
    grid-template-rows: 40px 1fr;
  }
  .grdDaysNames {
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr);
  }
  .grdScheduler {
    display: grid;
    grid-template-columns: 30px 1fr;
    height: calc(100vh - 245px);
    overflow: auto;
  }
  .daysNum {
    text-align: center;
    font-size: 15px;
  }
  .daysNum>div {
    text-shadow: 1px 1px 2px #555;
    height: 30px;
    border: 1px solid;
    background: #bbb;
    padding-top: 5px;
  }
  .grdCalendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .dayName {
    border: 1px solid;
    text-shadow: 1px 1px 1px #666;
    text-align: center;
    font-size: 15px;
    background: #bbb;
    height: 30px;
    padding-top: 7px;
  }
}
