<div class="grdEvento">
  <div id="evento">
    <div class="grdEventInfo" *ngIf="editEventNameFlag === true">
      <input type="text" class="searchBar1" placeholder="Nombre del evento" [(ngModel)]="evt.eventName" (keypress)="onKeyEvent($event)"
      />
      <input type="text" class="searchBar1" placeholder="Descripcion del evento" [(ngModel)]="evt.description" />
    </div>
    <div *ngIf="editEventNameFlag === false">
      <div>{{evt.eventName}}</div>
      <div>{{evt.description}}</div>
      <button (click)="editEventNameFlag = true">
        <ion-icon name="create"></ion-icon>
      </button>
    </div>
  </div>
  <div id="fCreacion">
    {{evt.creationDate | date:'dd/MM/yyyy HH:mm'}}
  </div>
  <div id="identificador">
    <div *ngIf="editUsernameFlag === true">
      <input type="text" class="searchBarr" placeholder="Nombre de usuario" [(ngModel)]="evt.username" (keypress)="onKeyUser($event)"
      />
    </div>
    <div *ngIf="editUsernameFlag === false">
      <div>{{evt.username}}</div>
      <button (click)="editUsernameFlag = true">
        <ion-icon name="create"></ion-icon>
      </button>
    </div>
  </div>
  <div id="participantes">
    <div *ngFor="let usr of evt.members">
      # {{usr.username}}
    </div>
  </div>
  <div id="dias">
    <div class="grdDays">
      <div *ngFor="let d of evt.days">
        <div>
          <div>{{d.day}}</div>
          <hours [dictionary]="d.dic"></hours>
        </div>
      </div>
    </div>
  </div>
</div>
