page-event {

  .grdEvento {
    display: grid;
    grid-template-areas: "evento" "fCreacion" "identificador" "participantes" "dias"
  }
  @media (min-width: 500px) {
    .grdEvento {
      grid-template-areas: "evento evento fCreacion" " . identificador . " "participantes participantes participantes" "dias dias dias"
    }
  }
  #evento {
    grid-area: evento
  }
  #fCreacion {
    grid-area: fCreacion
  }
  #identificador {
    grid-area: identificador
  }
  #participantes {
    grid-area: participantes
  }


  #dias {
    grid-area: dias;
    margin: 5px;
  }
  .grdDays{
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     grid-template-rows: 40px 1fr; 
     grid-column-gap: 5px;
  }
  .dayName{
   text-align: center;
   font-size: 15px;
   background: #bbb;
  }
}
