<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/contacts.png">
  <div class="title">{{title}}</div>
  <ion-icon class="btnClose" (click)="closeModal()" name="close-circle"></ion-icon>
</ion-header>

<ion-content class="backEvent">
  <ion-grid>
    <ion-row>
      <ion-icon name="search" class="searchIcon"></ion-icon>
      <ion-input type="text" class="searchBar" placeholder="Buscar contacto" [(ngModel)]="searchText"></ion-input>
    </ion-row>
  </ion-grid>

  <div *ngFor="let ct of contacts" class="grdContacts">
    <ion-toggle class="mid midCenter" [(ngModel)]="ct.selected"></ion-toggle>
    <ion-avatar class="mid midCenter">
      <img class="avatar" [src]="ct.photoURL">
    </ion-avatar>
    <div class="mid">{{ct.displayName}}</div>
  </div>
</ion-content>
