<ion-content *ngIf="editFlag" class="aboContainer" (click)="abort()">
</ion-content>

<div class="frameAbo" icon-left>
  <div *ngIf="!editFlag" (click)="editAbonado()">
    <ion-icon style="margin-top:-5px;" name="call" style=" color: #064975; z-index:10000; line-height: normal"></ion-icon>
    <div class="dataAbo">{{line}}</div>
  </div>
  <div *ngIf="editFlag">
    <ion-input class="dataAbo editAbo" type="number" [(ngModel)]="line" (keypress)="onKeyPressed($event)">
    </ion-input>
    <!-- <button *ngIf="editFlag" class="btnAbo" (click)="changeAbo()">
          <ion-icon name="arrow-forward" class="btnIcon"></ion-icon>
      </button> -->
  </div>
</div>
