tools-grid {
    .circleTbxGrp{
        width: 50px;
        height: 50px;
        //Modo: Azul y Negro
        //background-color: #2675b5;
        background:transparent;
        box-shadow: none;
    }

    .circleTbxSubGrpDisabled{
        opacity: .5;
    }

    .circleTbxSubGrp, .clickedBtn{
        box-shadow: 1px 1px 5px black; 
        border-radius: 50%;
        position:relative;
    }
  
    .circleTbxSubGrp{
        //width: 80px;
        //height: 80px;
        width: 70px;
        height: 70px;
        background: radial-gradient(#fff 2%, #C2C3C9 65%) !important;
        top:-14px;
    }

    .txtSubGrps{
        font-size: 16px;
        margin-top: 5px !important;
        margin-right: 0px;
    }

    .borderCircle {
        margin: auto;
        border-top: 20px solid #2675b5;
        box-shadow: 2px 1px 6px black;
        // width: 100px;
        // height: 100px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#337AB7), to(#094C83)), -webkit-gradient(linear, left top, left bottom, from(#3acfd5), to(#094C83));
        background-image: linear-gradient(to bottom, #337AB7 0%, #094C83 100%), linear-gradient(to bottom, #337AB7 0%, #094C83 100%);
    }

    .borderCircle:active {
        transform: translateY(4px) !important;
        box-shadow: 0px 0px 0px transparent;
      }
      .label-md{
          margin:0px;
      }
}
