<ion-header class="grdToolbar">
  <img class="logoTipo" src="assets/imgs/suggestion.png" (click)="admin()">
  <div class="title">{{title}}</div>
  <ion-icon class="btnClose" (click)="closeModal()" name="close-circle"></ion-icon>
</ion-header>

<ion-content class="backPage grd">
  <ion-grid>
    <ion-row style="background:white">
      <ion-icon name="search" class="searchIcon"></ion-icon>
      <ion-input type="text" class="searchBar" placeholder="Buscar" [(ngModel)]="searchText"></ion-input>
    </ion-row>
  </ion-grid>
  <ion-content  class="grdSuggestions"  #sugLst>
    <div *ngFor="let sg of suggestions | searchInfo: searchText" class="grdItem">
      <div class="cmtHeaderName">{{sg.ownerName}}</div>
      <ion-avatar class="cmtHeaderAvatar">
        <img [src]="sg.photoURL">
      </ion-avatar>
      <div class="cmtBody">{{sg.suggestion}}</div>
      <div class="cmtFooter">{{sg.creationDate | date:'dd/MM/yyyy HH:mm'}}</div>
      <ion-icon class="btnDelete" (click)="removeItem(sg, i)" name="close-circle" *ngIf="adminMode === true"></ion-icon>
    </div>
  </ion-content >
  <ion-item>
    <ion-input placeholder="Ingrese sugerencia o error" clearInput [(ngModel)]="newSuggestion"></ion-input>
    <button ion-button outline item-end icon-left (click)="add()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-item>
</ion-content>
